__pycache__/
*.pyc
.env
autobot_env/__pycache__/
autobot_env/include/
autobot_env/lib/
autobot_env/lib64/
autobot_env/bin/
autobot_env/share/
autobot_env/pyvenv.cfg
autobot_env/*.pyc
autobot_env/*.pyo
autobot_env/*.pyd
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
.env.*
*.sqlite3
*.db
*.log
*.lfs
*.egg-info/
# Escludi file di grandi dimensioni e pacchetti
*.dylib
*.so
*.dll
*.zip
*.tar.gz
*.whl